@font-face {
    font-family: 'Terminal';
    src: url(NotoSansMono-Regular.ttf) format('truetype');
  }

:root{
    --ellipsis-loading-speed:.95s;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    font-family: 'Terminal';
}

/*Board*/

game-box{
    display: block;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding: 4px;
}

game-box > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.snowman {
    background-image: url("snowman.svg");
    background-size: contain;
}


.snowflake {
    background-image: url("snowflake.svg");
    background-size: contain;
}

game-box > div > img{
    width: 100%;
    height: 100%;
}


game-board {
    display: block;
    height: 100%;
    width: 100%;
}

game-board > div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
}


/*Terminal*/

game-terminal {
    display: block;
    height: 100%;
    background-color: #0f0f0f;
}

game-terminal > div {
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    padding: 2em;

    font-family: 'Terminal';
    font-size: .8em;

    color: hsl(144, 60%, 50%);

    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    
}

.terminal_text {
    height: fit-content;
}


.loading_ellipsis {
    display: block;
    vertical-align: bottom;
    overflow: hidden;
    animation: loading_ellipsis steps(4, end) var(--ellipsis-loading-speed) infinite;
    margin-left: auto;
    clip-path: xywh(0 0 0 100%);
}

@keyframes loading_ellipsis {
    to {
        clip-path: xywh(0 0 4ch 100%);
    }
}


/*Windows*/
game-window {
    display: block;
    background-color: antiquewhite;

    width: 200px;
    height: 200px;
}

game-window > header{
    width: calc(100% - 10px);
    height: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(62, 118, 167);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

game-window > header > div {
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    padding-right: 5px;
    font-size: .8em;
}

game-window > header > button {
    border-style: inset;
    font-size: .7em;
}

game-window > main{
    width: 100%;
    height: calc(100% - 1.5em);
}

game-window > div{
    width: 100%;
    height: calc(100% - 1.5em);
}


#main_terminal {
    background-color: #1e1e1e;
}


game-box {
    background-color: #80808021;
}

game-box:hover {
    background-color: #808080;
    border-radius: 20%;
}

#board_window {
    overflow: clip;
}

@media (height <= calc(100vw - 320px - 75px + 85px + 1.5em)) {

    #terminal_window {
        position: absolute;
        height: calc(300px);
        width: calc(300px);
        margin-top: 20px;
        margin-left: 20px;
        box-shadow: black 0 0 5px;
        z-index: 2;
    }

    #board_window {
        position: absolute;
        margin-top: 35px;
        margin-left: 75px;
        padding-left: calc(320px - 75px);
        height: calc(100% - 85px);
        width: calc(100% - 75px - 320px);
        box-shadow: black 0 0 5px;
        display: flex;
        flex-direction: column;
    }

    #board_window > div {
        height: calc(100vh - 85px - 1.5em);
        width: calc(100vh - 85px - 1.5em);
        align-self: center;
    }

}

@media not (height <= calc(100vw - 320px - 75px + 85px + 1.5em)) {

    @media (height <= 100vw) {
        body {
            display: flex;
            flex-direction: row;
        }

        #terminal_window {
            width: calc(50vh - 20px);
            height: calc(50vh - 20px);
            margin: 10px;
            align-self: center;
        }

        #board_window {
            width: calc(100vw - (50vh - 20px) - 20px);
            height: calc(100vh - 20px);
            margin: 10px;
            align-self: center;
        }

        game-box:hover {
            border-radius: 30px;
        }

    }

    @media (height > 100vw) {
        body {
            display: flex;
            flex-direction: column;
        }

        #terminal_window {
            width: calc(100% - 20px);
            height: 0;
            flex-grow: 3;
            margin: 10px;
            align-self: center;
        }

        #board_window {
            height: 0;
            width: calc(100% - 20px);
            flex-grow: 5;
            margin: 10px;
            align-self: center;
            display: flex;
            flex-direction: column;
        }

        #board_window > div {
            height: min(calc((100vh * 5 / 8) - 20px - 1.5em), calc(100vw - 20px));
            width: min(calc((100vh * 5 / 8) - 20px - 1.5em), calc(100vw - 20px));
            margin-top: auto;
            margin-bottom: auto;
            align-self: center;
        }
    }

}

#play_again_button {
    display: block;
    width: 100px;
    margin-bottom: auto;

    border: 5px solid #0f0f0f; 
    border-radius: 2px;

    background: #1e1e1e;
    color: hsl(144, 60%, 50%);
}

#play_again_button:hover{
    background: #0f0f0f;
}